body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    opacity: 0.9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid black;
}

.logo-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
    border: 2px solid black;
    margin-right: 10px;
}

nav {
    margin-left: auto;
}

nav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 2px solid black;
    margin-left: 10px;
}

nav a.active {
    background-color: grey; 
}

.a1 {
    border: 2px solid black; 
    padding: 10px;
    text-decoration: none; 
    color: inherit; 
}

main {
    padding: 20px;
}

.welcome {
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid black;
    background: url('background.png') no-repeat center center;
    background-size: cover;
    width:100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;

}


#content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.content-block {
    width: 45%;
    text-align: center;
}

.content-block div {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid black;
}

#video iframe {
    width: 100%;
    height: 500px;
    border: 2px solid black;
}

footer {
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    border: 2px solid black;
}


.info-paragraph {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid black;
}

form {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.full-width {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.submit-cell {
    text-align: center;
}

input[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    border: 2px solid black;
    cursor: pointer;
}
